#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 2rem;
  text-align: center;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
  margin-bottom: 1rem;
}

.navbar button {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.navbar button:active {
  background-color: #333;
  color: white;
}

.main-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: 100vh;
}
